:root {
    --card1Color: #F0EBE8;
    --card2Color: #C9F9E1;
    --card3Color: #F9C9C7;
    --card4Color: #F9F0C7;
    --card5Color: #E6C9F9;
    
    --translateSpeed: 400ms;
    
    --NextTabBtnBGC: transparent;
    
    --fontFamily: Verdana, Geneva, Tahoma, sans-serif;
    --fontSize: 10px;

    --indexTagHight: 10%;
    --indexTagWidth: 20%;

    --contentPadding: 2%;
}

* {
    padding: 0%;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html { 
    font-family: var(--fontFamily);
    font-size: var(--fontSize); 
}
h1 {
    font-size: 3.528rem;
    font-weight: 600;
}
h2 {
    font-size: 3rem;
    font-weight: 500;
}
h3 {
    font-size: 2rem;
    font-weight: 300;
}
p {
    font-size: 1.6rem;
    font-weight: 200;
}

.View {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.Card_wrapper {
    width: 90%;
    max-width: 1800px;

    height: 40%;
    min-height: 700px;

    position: relative;

    overflow: hidden;
}

.Card-question {
    width: 100%;
    height: 100%;
    
    border-radius: 8px;
    position: absolute;

    transition: transform var(--translateSpeed);
}
.Card-question:nth-child(1){
    background-color: var(--card1Color);
    transform: translateY(0%);
}
.Card-question:nth-child(2) {
    background-color: var(--card2Color);
    clip-path: polygon(0% var(--indexTagHight), var(--indexTagWidth) var(--indexTagHight), calc(var(--indexTagWidth)) 0%, 100% 0%, 100% 100%, 0% 100%);
    transform: translateY(100%);
}
.Card-question:nth-child(3){
    background-color: var(--card3Color);
    clip-path: polygon(0% var(--indexTagHight),  calc(var(--indexTagWidth) * 2) var(--indexTagHight), calc(var(--indexTagWidth) * 2) 0%, 100% 0%, 100% 100%, 0% 100%);
    transform: translateY(100%);
}
.Card-question:nth-child(4){
    background-color: var(--card4Color);
    clip-path: polygon(0% var(--indexTagHight), calc(var(--indexTagWidth) * 3) var(--indexTagHight), calc(var(--indexTagWidth) * 3) 0%, 100% 0%, 100% 100%, 0% 100%);
    transform: translateY(100%);
}
.Card-question:nth-child(5){
    background-color: var(--card5Color);
    clip-path: polygon(0% var(--indexTagHight), calc(var(--indexTagWidth) * 4) var(--indexTagHight), calc(var(--indexTagWidth) * 4) 0%, 100% 0%, 100% 100%, 0% 100%);
    transform: translateY(100%);
}

.Card_content{
    width: 100%;
    padding: var(--contentPadding);

    position: absolute;
    top: var(--indexTagHight);
}
.Card_subtitle { margin-top: 0.5%; }
.Card_text { margin-top: 1.5%; }

.Card_index {
    width: var(--indexTagWidth);
    height: var(--indexTagHight);

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    cursor: pointer;
}
.Card-question:nth-child(1) .Card_index{ left: 0%;  }
.Card-question:nth-child(2) .Card_index{ left: var(--indexTagWidth); }
.Card-question:nth-child(3) .Card_index{ left: calc(var(--indexTagWidth) * 2); }
.Card-question:nth-child(4) .Card_index{ left: calc(var(--indexTagWidth) * 3); }
.Card-question:nth-child(5) .Card_index{ left: calc(var(--indexTagWidth) * 4); }

.Btn-nextTab {
    background-color: var(--NextTabBtnBGC);
    
    position: absolute;
    bottom: 50px;
    right: 80px;

    cursor: pointer;
}




